{release, {wsclient, "1.0.0"},
[
  kernel,
  stdlib,
  sasl,
  inets,
  asn1,
  syntax_tools,
  crypto,
  public_key,
  ssl,
  compiler,
  goldrush,
  lager,
  jsx,
  msgpack,
  pbkdf2,
  wamper,
  wsclient
]}.

{extended_start_script, true}.
{include_erts, true}.
{include_src, false}.
{include_priv, false}.
{vm_args, "vm.args"}.
{sys_config, "sys.config"}.